﻿<!DOCTYPE html>
<html >
<head>
	<title></title>
	<link rel="stylesheet" href="../assets/css/bootstrap.css">
	<link rel="stylesheet" href="../assets/css/bootstrap-theme.css">
</head>
<body ng-app="app">

	<div ng-controller="Colecciones2Controller" class="container">

		<input type="text" name="" value="" placeholder="Buscar" ng-model="searchText.age">


		<ul ng-repeat="persona in arrPersonas | filter:searchText" class="list-group">
			<li class="list-group-item">{{persona.name}}<br>{{persona.age}}</li>

		</ul>
	</div>
	
<script src="../assets/js/angular.js"></script>
	<script src="app/app.js"></script>
</body>
</html>