<div class="container form">

	
<a href="index2.html#/list" class="btn btn-primary">Atras</a>
<br/>
Nombre : <input type="text" name="" value="{{persona.name}}" placeholder=""><br>
Edad : <input type="text" name="" value="{{persona.age}}" placeholder=""><br>
Sexo : <input type="text" name="" value="{{persona.gender}}" placeholder="">
<br/>
<a class="btn btn-primary">Editar</a>
</div>