<div class="container form">
<div class="form-group">
	
		<input type="text" class="form-control" name="" value="" placeholder="Buscar" ng-model="searchText.age">
		
		<table class="table">

			<thead>
				<tr>
					<th width="33%"><a href="" ng-click="predicate = 'name';reverse=!reverse">Nombre</a>
					<span ng-show="predicate == 'name' && reverse" class="glyphicon glyphicon-chevron-down">
					</span>
					<span ng-show="predicate == 'name' && !reverse" class="glyphicon glyphicon-chevron-up">
					</span>
					</th>
					<th width="33%"><a href="" ng-click="predicate = 'age'; reverse=!reverse">Edad</a>
					<span ng-show="predicate == 'age' && reverse" class="glyphicon glyphicon-chevron-down">
					</span>
					<span ng-show="predicate == 'age' && !reverse" class="glyphicon glyphicon-chevron-up">
					</span>
					</th>
					<th width="33%">Imagen</th>
				</tr>
			</thead>
			<tbody ng-repeat="persona in arrPersonas | filter:searchText | orderBy:predicate:reverse">
				<tr>
					<td><a href="#/detalle/{{persona.id}}" > {{persona.name}}</a></td>
					<td>{{persona.age}}</td>
					<td>
					<img ng-src="{{persona.name | urlAvatar}}" alt="">

					<a href="#/edit/{{persona.id}}" class="btn btn-primary">Editar</a> 

					</td>
				</tr>
			</tbody>
		</table>


		
	
	</div>
</div>