<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Ejercicios Angular JS</title>
	<link rel="stylesheet" href="assets/css/bootstrap.css">
</head>
<body ng-app="holaMundoApp">
 	
 	<h1 ng-controller="HolaMundoCtrl">
            
            <input type="text" ng-model="texto"/><br/>

            {{texto}}
            <br/>
            {{casa}}

            <input type="text" ng-model="casaValue" />
            <button ng-click="cambiaCasa()">Cambia Casa</button>

    </h1>

       <script src="assets/js/angular.js"></script>
        <script>
            var app = angular.module('holaMundoApp',[]);
            app.controller('HolaMundoCtrl',
                function ($scope){
                    $scope.texto = 'Hola Mundo';
                    $scope.casa="la casa";
                    $scope.cambiaCasa = function() {
                    	$scope.casa = $scope.casaValue;
                    };
            });
        </script>
	

</body>
</html>