﻿<!DOCTYPE html>
<html >
<head>
	<title></title>
	
</head>
<body ng-app="app">
	<div ng-controller="AppController">
		Escriba texto<br>
		<input type="text" ng-model="text"/><br>
		<input type="checkbox" ng-model="bindOn" value="1"/>Binding Automático
		<br>
		<input type="button" ng-click="changeValue()" ng-hide="bindOn" value="Actualiza Texto"/>
		<br>
		<div ng-hide="bindOn">
		manual <br>
			{{result}}
		</div>

		<div ng-show="bindOn">
			automatico <br>
			{{text}}
		</div>
	</div>
	
<script src="../assets/js/angular.js"></script>
	<script src="app/app.js"></script>
</body>
</html>